<h1>Customers</h1>

<p>
  <%= link_to 'Back', customers_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th colspan="2"></th>
  </tr>

  <%= render @customers %>
</table>

<%= render 'blacklist_form' %>


