<h1>Customers</h1>

<p>
  <%= link_to 'New customer', new_customer_path %> |
  <%= link_to 'Blacklisted customers', customers_blacklisted_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th colspan="2"></th>
  </tr>

  <%= render @customers %>
</table>
